body {
    width: 800px;
  margin: auto;
  }
  
  #delicious{
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    position: relative;
    top: -2px; left: 10px;
  
    
  }
    #mail-rss{
    position: relative;
    top: 50px; left: 98px;
    display: inline-block;
    float: right;
    padding: 0px 20px;
  }
  
  #tital{
    font-family:'Krub', sans-serif;
    display: inline-block;
    color: gray;
    Font-size: 11px;
    position: relative;
    top: 11px; left: -135px;
  
  }
  

  #list {
    width: 800px;
    display: flex;
    background-image: url(./list-bg.png);
    
  }
  
  #van {

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-content: space-between;


  }



  #big-fork{
    position: relative;
  top: 10px; left: 10px;
  }
  #print{
    padding-left: 850px;
    height: 12px;
    width: 12px;
  }
  #icons{
    display: inline-block;
    float: right;
    position: relative;
  top: 50px; left: 86px;
  }
  button{
    align-items: center;
   
    background-color: rgb(212,101,58);
    width: 163px;
    height: 50px;
  }

  #small-logo{
align-items: center; 
    margin-top: 20px;
    padding: 0px 50%;
    border-top: solid hsl(0deg 20% 83% / 70%);
}
.copy-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}